* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  background-color: grey;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: rgb(55, 139, 114);
}
#insert {
  float: left;
  width: 400px;
}
#findtar {
  float: left;
  width: 500px;
}
#settarfps {
  float: right;
  width: 1800px;
}

#fillList {
  width: 1800px;
  float: right;
}
